<div class="jumbotron">
  
  <%= simple_form_for @card do |f| %>
    <%= f.input :original %>
    <%= f.input :translated %>
    <%= f.input :review %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit  %>
  <% end %>
</div>